.Identité{
  background-color: #2574A9;
  width: auto;
  height: auto;
}
#Identité{
  background-color: #2574A9;
  width: auto;
  height: auto;
}
.Adresse{
  background-color: #9A12B3;
  width: auto;
  height: auto;
}
#Adresse{
  background-color: #9A12B3;
  width: auto;
  height: auto;
}
.Info{
  background-color: #DB0A5B;
  width: auto;
  height: auto;
}
#Règlement{
  background-color: #DB0A5B;
  width: auto;
  height: auto;
}
textarea{width: 200px;height: 100px;}
